[submodule "Wireframe/JustEzGL"]
	path = Wireframe/EzGL
	url = https://github.com/RandomGamingDev/JustEzGL
[submodule "Wireframe/JustEzAL"]
	path = Wireframe/EzAL
	url = https://github.com/RandomGamingDev/JustEzAL
